.idea/
.project
.classpath
.settings
*.eml
*.iml
*.iws
/bin
*/bin

# Npm
node_modules
webapp/node_modules

# Webpack
*.bundle.js
*.map

# Package Files
*.jar
*.ear
*.log

# Gradle
.gradle
api/.gradle
api/out
api/build